<!DOCTYPE html>
<html lang="en" xmlns:v‐on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>vue.js常用指令的测试</title>

</head>
<!--
        1.webpack入门程序--打包过程和开发过程
            1）分模块定义js
                在js中导出将来要被打包的方法 module.exports
            2）定义main.js入口文件（主文件）
                在此文件导入引用的js文件
                var {add} = require("./model01")
                可以在main,js中使用导入的js方法
            3）使用webpack命令打包js
            4）在html上引用打包生成的js文件

        2、推荐使用webpack开发服务器，可以实现热加载以及自动刷新浏览器
             1）安装webpack-dev-server
                cnpm install webpack@3.6.0 webpack-dev-server@2.9.1 html-webpack-plugin@2.30.1 --save-dev
                安装完自动创建package.json（记录了本程序的依赖包信息）
                安装完自动创建node_modules(存放了本程序的所依赖的包)
             2）在package.json中配置script(运行命令)
                "scripts": {
	                "dev": "webpack‐dev‐server ‐‐inline ‐‐hot ‐‐open ‐‐port 5008"
                }
             3）配置webpack.config.js
                webpack的配置文件，配置了入库文件，输出文件的路径，依赖的插件
             4）使用webpack的命令运行程序
                npm run dev
             5)使用debugger进行调试


-->

<body>
<!--在body区域显示一个name-->
<div id="app">
    <!--相当于MVVM中的view视图-->
<!--    {{name}}-->
<!--    <a v-bind:href="url"></a>--><!--    不缩写v-bind-->
    <a :href="url">
        <span v-text="name"></span>
    </a>
    <input type="text" v-model="num1"/> +
    <input type="text" v-model="num2"/> =
<!--    <span v-text="Number.parseInt(num1) + Number.parseInt(num2)"></span>-->
<!--    {{ Number.parseInt(num1) + Number.parseInt(num2) }}-->
    <span v-text="result"></span>
    <button v-on:click="change">计算</button>
</div>
</body>



</html>